@import "./../../styles/styles.scss";

.wrapper {
  width: 100%;
  min-height: 637px;
  height: 100%;
  padding: 0 20px;
  background-image: url("./../../../assets/img/background.jpg");
  background-size: cover;

  header {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    .block-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 75%;
      background-color: $main-background;
      padding: 0 20px;
      margin: 5px;
      @include border(1px, solid, black);

      .logo {
        img {
          width: 100px;
          height: 60px;
        }
      }

      .location-info {
        margin-left: 20px ;
        p {
          margin: 0;
          font-weight: 700;
        }

        ul {
          margin: 0;
          li{
            font-style: italic;
            display: inline-block;
            text-decoration: none;
          }
        }
      }
    }

    .block-date {
      width: 25%;
      background-color: $main-background;
      padding: 10px 20px;
      margin: 5px;
      @include border(1px, solid, black);
      text-align: center;
      vertical-align: middle;

      .time {
        margin: 0;
        font-weight: 700;
      }

      .date {
        margin: 0;
        font-style: italic;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;

    .item-map {
      width: 75%;
      margin: 5px;
    }

    .item-team {
      width: 25%;
      margin: 5px;
    }
  }
}
