<div class="wrapper">
  <header>
    <div class="block-info">
      <div class="logo">
        <a routerLink="/home">
          <img src="{{logo}}" alt="logo">
        </a>
      </div>

      <div class="location-info">
        <p>ISS is now located at:</p>
        <ul>
          <li>latitude: {{currentLocation?.latitude}}</li>
          <li>longitude: {{currentLocation?.longitude}}</li>
        </ul>
      </div>
    </div>

    <div class="block-date">
      <p class="time"> Current UTC time: {{timeNow}}</p>
      <p class="date">{{dateNow | date: 'EEEE, d MMMM y'}}</p>
    </div>
  </header>


  <div class="content">
    <div class="item-map">
      <app-map></app-map>
    </div>
    <div class="item-team">
      <app-iss-astronauts></app-iss-astronauts>
    </div>
  </div>
</div>





